<style>
    .deba{
        font-size: 50px;
        color: rgb(255, 98, 0);
    }
    .deba2{
        
        background-image : url(deeec.jpg);
        color: antiquewhite;
    }
    #ananna{
        font-size:50px ;
        background-image: url(download.jpeg);
        color: chartreuse;
        
     
    }
</style>